@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, a{
    text-decoration: none;
    list-style-type: none;
}

html {
    font-size: 18px;
}

ul,
li,
a {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
    opacity: 0.7;
}

:root {
    --pink-color: #ff52bf;
    --Very-Pale-Cyan: #ebfbff;
    --Very-Dark-Cyan: #00252e;
    --Grayish-Blue: #808d99;
    --title-font: "Poppins", sans-serif;
    --callback-font: "Open Sans", sans-serif;
}

header {
    padding: 4rem;
    background-repeat: no-repeat;
    background: url(/images/bg-hero-desktop.svg);
    background-size: 450%;
    opacity: 1;
    background-repeat: no-repeat;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top img {
    width: 12rem;
}

.header-top button {
    border-radius: 25px;
    text-align: center;
    padding: 0.7rem 3rem;
    border: none;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px var(--Grayish-Blue);
    font-family: var(--callback-font);
    font-weight: 600;
}

.header-bottom {
    padding-top: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-bottom img {
    width: 50%;
}

.header-bottom-left h2 {
    font-size: 2.5rem;
    width: 80%;
    font-family: var(--callback-font);
    font-weight: 600;
    color: var(--Very-Dark-Cyan);
    line-height: 3.5rem;
}

.header-bottom-left p {
    color: var(--Very-Dark-Cyan);
    font-family: var(--callback-font);
    font-weight: 400;
    font-size: 1rem;
    width: 80%;
    line-height: 1.5rem;
    margin-top: 1.5rem;
}

.header-bottom-left button {
    padding: 1rem 3rem;
    margin-top: 1.5rem;
    font-weight: 600;
    font-family: var(--callback-font);
    font-size: 0.8rem;
    color: var(--Very-Pale-Cyan);
    border-radius: 25px;
    background-color: var(--pink-color);
    border: var(--pink-color) 1px solid;
}

main {
    margin: 0;
    padding: 0;
}

main section {
    margin: 4.5%;
    padding: 3.2%;
    padding-bottom: 0%;
}

.div {
    padding: 3rem 2rem 3rem 0;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    box-shadow: 0px 0px 8px var(--Grayish-Blue);
    text-align: left;
    justify-content: center;
    align-items: center;
    color: var(--Very-Dark-Cyan);
    border: 1px solid #ffffff;
}

main section div section h3 {
    font-size: 2rem;
    font-family: var(--title-font);
}

main section div section p {
    color: var(--Grayish-Blue);
    font-family: var(--callback-font);
    font-size: 1rem;
    width: 90%;
}

main section div img {
    width: 40%;
}

.second {
    padding: 3rem 0 3rem 2rem;
}

.fourth {
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #ffffff;
    color: var(--Very-Dark-Cyan);
    font-size: 1.2rem;
    font-family: var(--title-font);
    box-shadow: 0px 0px 15px var(--Grayish-Blue);
    width: fit-content;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 3rem;
    position: relative;
    z-index: 100;
}

.fourth button {
    margin-top: 2rem;
    background-color: var(--pink-color);
    font-family: var(--callback-font);
    font-size: 1.2rem;
    padding: 1rem 5rem;
    border: 1px solid var(--pink-color);
    border-radius: 35px;
    color: var(--Very-Pale-Cyan);
    font-weight: 600;
}

footer {
    margin-top: -8rem;
    position: relative;
    z-index: -1;

    background-color: var(--Very-Dark-Cyan);
    padding: 5rem;
    color: var(--Very-Pale-Cyan);
}

footer div{
    display: flex;
    flex-direction: row;
}

.f-logo{
    width: 40%;
    height: auto;
}

.f-address{
    margin: 2rem 0;
    gap: 1rem;
}

.f-address img{
    width: 1rem;
    height: 1.4rem;
}

.f-address p{
    width: 22rem;
    font-family: var(--callback-font);
}

.f-phone, .f-mail{
    gap: 1rem;
    margin: 0 0 2rem 0;
    align-items: center;
}

.f-list{
    margin: 0 3rem;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    text-decoration: none;
    align-items: center;
    font-family: var(--callback-font);
}

.f-list ul li{
    margin: 1rem 0;
}

.end {
    display: flex;
    float: right;
}