@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');
*,*::after,*::before{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;}
html{
    font-size: 18px;}
ul,li,a{
    text-decoration: none;}
button:hover{
    cursor: pointer; opacity: 0.7;}
:root{
    --pink-color: #ff52bf;
    --Very-Pale-Cyan: #ebfbff;
    --Very-Dark-Cyan: #00252e;
    --Grayish-Blue: #808d99;
    --title-font: 'Poppins', sans-serif;
    --callback-font: 'Open Sans', sans-serif;}
header{
    padding: 4rem;
    background-repeat: no-repeat;
    background: url(/images/bg-hero-desktop.svg);
    background-size: 450%;
    opacity: 1;
    background-repeat: no-repeat;}
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;}
.header-top img{ 
    width: 12rem; }
.header-top button{
    border-radius: 25px;
    text-align: center;
    padding: 0.7rem 3rem;
    border: none;
    background-color:#ffffff;
    box-shadow: 0px 0px 5px var(--Grayish-Blue);
    font-family: var(--callback-font);
    font-weight: 600; }
.header-bottom{
    padding-top: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;}
.header-bottom img{
    width: 50%;}
.header-bottom-left h2{
    font-size: 2.5rem;
    width: 80%;
    font-family: var(--callback-font);
    font-weight: 600;
    color: var(--Very-Dark-Cyan);
    line-height: 3.5rem;}
.header-bottom-left p{
    color: var(--Very-Dark-Cyan);
    font-family: var(--callback-font);
    font-weight: 400;
    font-size: 1rem;
    width: 80%;
    line-height: 1.5rem;
    margin-top: 1.5rem;}
.header-bottom-left button{
    padding: 1rem 3rem;
    margin-top: 1.5rem;
    font-weight: 600;
    font-family: var(--callback-font);
    font-size: 0.8rem;
    color: var(--Very-Pale-Cyan);
    border-radius: 25px;
    background-color: var(--pink-color);
    border: var(--pink-color) 1px solid;}
